[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
plotly = "*"
notebook = "*"
spacy = "*"
joblib = "*"
jinja2 = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiofiles = "*"
wordcloud = "*"
matplotlib = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
