<!DOCTYPE HTML>
<html>
	<head>
		<title>Spotify Song Suggestions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Spotify Song Suggestions</h1>
							<p>find and visualize songs that fit your personal taste</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="left"><img src="images/pic01.jpg" alt="" /></span>
						</div>
					</section>
					

				<!-- First Section -->
					<section id="first">
						<header>
							<h2>generate a prediction using a neural network</h2>
						</header>

						<div class="content">									
							<h3>FIND YOUR RECOMMENDED SONGS</h3>
							<p>This model was built using the KNearest Neighbors algorithm. It takes songs directly from Spotify before running them
								through a TF-IDF model to transform to vector before inputting them into the KNN model to find 
								top 5 similar songs.
							</p>
							<a href="/prediction" class="button primary">Get your songs now</a>
						</div>
					</section>

				<!-- Second Section -->
					<section id="second">
						<header>
							<h2>About</h2>
						</header>
						<div class="content">
							I currently am attending Lambda School, an intensive online data science 
							course for a career in applied statistics and predictive modeling. 
							Building real, ready-to-ship products with a team of other students generating real work experience 
							is a key feature of Lambda School. 
							This app is a product of that feature. 
							<br /><br />
							After gathering song data from Spotify a predictive model was built and trained. 
							This model allows a user to input a song they like and get find the top recomendations for that song.
							The top recommended songs can be used to find a new favorite song or even help you reconnect with a past favorite.
							 <br /><br />
						
							<h4>Lee Rowe</h4>
							<p></p>	
							<ul class="icons">
								<li><a href="https://github.com/leecrowe" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/lee-rowe/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							
						</div>
					</section>

				<!-- Footer -->
		

				<!-- Copyright -->
					<div class="copyright">&copy; Lee Rowe 2021</a>.</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>